<h1>Welcome <%= session[:current_user_id] %></h1>
  <%= button_to 'Create a Post', '/posts/new', method: :get, class: 'btn btn-danger'%>
  <%= button_to 'Send message', '/messages/new', method: :get, class: 'btn btn-danger'%>

    <h2>Posts</h2>
    <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to post.title, post%>
        comments: <%= post.comments.length %>
      </li>
    <% end %>
    </ul>

    <h2>Events</h2>
    <%= button_to 'Create Event', new_event_path, method: :get, class: 'btn btn-danger' %>
    <ul>
    <% @events.each do |event| %>
      <li>
        <%= link_to event.title, event%>
        time: <%= event.time %>, location: <%= event.location %>;
        <b>Yes</b> RSVPs: <%= event.rsvps.where(status: 'yes').count %>
        <b>No</b> RSVPs: <%= event.rsvps.where(status: 'no').count %>
      </li>
    <% end %>
    </ul>

    <h3>Upcoming Events</h3>
    <ul>
      <% @events.where('time > ?', Time.now).each do |event| %>
        <li>
          <%= link_to event.title, event %>
          time: <%= DateTime.parse(event.time).strftime("%A, %b %d, %Y at %I:%M %p") %>, location: <%= event.location %>;
          <b>Yes</b> RSVPs: <%= event.rsvps.where(status: 'yes').count %>
          <b>No</b> RSVPs: <%= event.rsvps.where(status: 'no').count %>
        </li>
      <% end %>
    </ul>

    <h3>Past Events</h3>
    <ul>
      <% @events.where('time < ?', Time.now).each do |event| %>
        <li>
          <%= link_to event.title, event %>
          time: <%= DateTime.parse(event.time).strftime("%A, %b %d, %Y at %I:%M %p") %>, location: <%= event.location %>;
          <b>Yes</b> RSVPs: <%= event.rsvps.where(status: 'yes').count %>
          <b>No</b> RSVPs: <%= event.rsvps.where(status: 'no').count %>
        </li>
      <% end %>
    </ul>

    <h2>Messages</h2>
     <ul>
      <% @messages.each do |message| %>
        <% if message.receiver == session[:current_user_id] %>
        <li>
          Sender: <%= message.sender %> <br>
          Title: <%= message.title %> <br>
          Body: <%= message.body %> <br>
        </li> <br>
         <% end %>
      <% end %>
    </ul>

    <h2>Invites</h2>
      <% Invite.where(guest: session[:current_user_id]).includes(:event).each do |invite| %>
         <%= link_to invite.event.title, event_path(invite.event) %> - <%= invite.note %> <br>
      <% end %>

<%= button_to 'View my profile', profile_path, method: :get, class: 'btn btn-danger' %>

<%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger' %>

