<%= form_with model: event do |form| %>
   <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% event.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <label for="meeting-time">Choose a time for your event:</label>

  <%= form.text_field :time, type: "datetime-local", value: event.time %>

  <%= form.text_field :time, type: "datetime-local", value: 
  event.time.is_a?(String) ? DateTime.parse(event.time).strftime("%Y-%m-%dT%H:%M") : (event.time ? event.time.strftime("%Y-%m-%dT%H:%M") : "") %>
  
  <div>
    <%= form.hidden_field :username, value:  session[:current_user_id] || "Anonymous"%>
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
    <% event.errors.full_messages_for(:location).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.textarea :description %><br>
    <% event.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>