<h1 class="event-title"><%= @event.title %></h1>
<div class="event-details">
  <p class="event-description"><%= @event.description %></p>
  <p class="event-time">Time: <%= @event.time %></p>
  <p class="event-location">Location: <%= @event.location %></p>
</div>


<h2 class="section-title">Send Invites</h2>
<%= form_with model: [@event, @event.invites.build], html: { class: 'invite-form' } do |form| %>
  <p>
  <%= form.hidden_field :event_id, value: @event.id %>
  </p>

  <p>
  <%= form.label :guest, class: 'form-label' %><br>
  <%= form.text_area :guest, class: 'form-textarea' %>
  </p>

  <p>
  <%= form.label :note, class: 'form-label' %><br>
  <%= form.text_area :note, class: 'form-textarea' %>
  </p>

  <p>
  <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>

<h2 class="section-title text-center mb-4">RSVP Here</h2>
<%= form_with model: [@event, @event.rsvps.build], html: { class: 'rsvp-form' } do |form| %>
  <p>
  <%= form.hidden_field :user, value: session[:current_user_id] || "Anonymous" %>
  <%= form.hidden_field :event_id, value: @event.id %>
  </p>

  <p>
    <%= form.label :status, class: 'form-label' %><br>
    <%= form.radio_button :status, 'yes' %> Yes
    <%= form.radio_button :status, 'no' %> No
  </p>

  <p>
    <%= form.label :response, class: 'form-label' %><br>
    <%= form.text_area :response, class: 'form-textarea' %>
  </p>

  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>

<h2 class="section-title" id="RSVPsHeader">All RSVPs (<%= @rsvpsLength %>)</h2>
<div class="rsvp-details">
  <% @rsvps.each do |rsvp| %>
    <p class="rsvp-entry">
      <strong><%= rsvp.user %></strong>: <%= rsvp.status %>; <%= rsvp.response %>
    </p>
  <% end %>
  <div>
  Page <%= @rsvpsPage + 1 %> | 
  <%= link_to "Previous RSVPs", event_path(@event, rsvpsPage: @rsvpsPage - 1) + "#RSVPsHeader"  %>
  |
  <%= link_to "Next RSVPs", event_path(@event, rsvpsPage: @rsvpsPage + 1) + "#RSVPsHeader"  %>
</div>
</div>

<h2 class="comments-title" id="CommentsHeader">Comments (<%= @commentsLength %>)</h2>
<% @comments.each do |comment| %>
  <p class="comment">
    <strong class="commenter"><%= comment.commenter %></strong>: <%= comment.body%>
  </p>
<% end %>
<div>
  Page <%= @commentPage + 1 %> | 
  <%= link_to "Previous Comments", event_path(@event, commentPage: @commentPage - 1) + "#CommentsHeader"  %>
  |
  <%= link_to "Next Comments", event_path(@event, commentPage: @commentPage + 1) + "#CommentsHeader"  %>
</div>

<h2 class="section-title">Add a comment:</h2>
<%= form_with model: [@event, @event.comments.build], html: { class: 'comment-form' } do |form| %>
  <p>
  <%= form.hidden_field :commenter, value: session[:current_user_id] || "Anonymous" %>
  <%= form.hidden_field :event_id, value: @event.id %>
  </p>
  <p>
    <%= form.label :body, class: 'form-label' %><br>
    <%= form.text_area :body, class: 'form-textarea' %>
  </p>
  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>

<%= button_to 'Home', '/', method: :get, class: 'btn btn-danger' %>
<%= button_to 'Save Event', saved_events_path(event_id: @event.id), method: :post, class: 'btn btn-success' %>


<% if @show %>
  <ul class="event-actions">
    <%= link_to "Edit", edit_event_path(@event), class: 'btn btn-success' %>
    <%= link_to "Delete", event_path(@event), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    }, class: 'btn btn-danger' %>
  </ul>
<% end %>