<h1><%= @event.title %></h1>
<p><%= @event.description %></p>
<p> User: <%=@event.username%></p>
<p>Time: <%= @event.time %></p>
<p>Location: <%= @event.location %></p>

<h2>Send Invites</h2>
<%= form_with model: [@event, @event.invites.build] do |form|%>
  <p>
  <%= form.hidden_field :event_id, value: @event.id %>
  </p>

  <p>
  <%= form.label :guest%><br>
  <%= form.text_area :guest%>
  </p>

  <p>
  <%= form.label :note%><br>
  <%= form.text_area :note%>
  </p>

  <p>
  <%= form.submit %>
  </p>
<% end %>

<h2>RSVP Here</h2>
<%= form_with model: [@event, @event.rsvps.build] do |form| %>
  <p>
  <%= form.hidden_field :user, value: session[:current_user_id] || "Anonymous"%>
  <%= form.hidden_field :event_id, value: @event.id %>
  </p>

  <p>
    <%= form.label :status%><br>
    <%= form.radio_button :status, 'yes' %> Yes
    <%= form.radio_button :status, 'no' %> No
  </p>

  <p>
    <%= form.label :response %><br>
    <%= form.text_area :response %>
  </p>

  <p>
    <%= form.submit %>
  </p>
  <% end %>

<h2> All RSVPs </h2>
<% @event.rsvps.each do |rsvp| %>
  <p>
    <strong><%= rsvp.user %></strong>: <%= rsvp.status%>; <%= rsvp.response%>
  </p>
<% end %>

<h2>Comments</h2>
<% @event.comments.each do |comment| %>
  <p>
    <strong><%= comment.commenter %></strong>: <%= comment.body%>
  </p>
<% end %>


<h2>Add a comment:</h2>
<%= form_with model: [@event, @event.comments.build] do |form| %>
  <p>
  <%= form.hidden_field :commenter, value: session[:current_user_id] || "Anonymous"%>
  <%= form.hidden_field :event_id, value: @event.id %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= button_to 'Home', '/', method: :get, class: 'btn btn-danger'%>
<%= button_to 'Save Event', saved_events_path(event_id: @event.id), method: :post, class: 'btn btn-success' %>

<% if @show %>
<ul>
    <li><%= link_to "Edit", edit_event_path(@event) %></li>
    <li><%= link_to "Delete", event_path(@event), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    } %></li>
</ul>
<% end %>

