<h1><%= @event.title %></h1>
<p><%= @event.description %></p>

<%= button_to 'Home', '/', method: :get, class: 'btn btn-danger'%>
<%= button_to 'Save Event', saved_events_path(event_id: @event.id), method: :post, class: 'btn btn-success' %>

<ul>
    <li><%= link_to "Edit", edit_event_path(@event) %></li>
    <li><%= link_to "Delete", event_path(@event), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    } %></li>
</ul>
